
<div class="ui blue header">基本情報</div>

<%= f.error_notification %>

<div class="fields">
  <div class="wide sixteen field">
    <%= f.input :name %>
  </div>
	
  <div class="wide sixteen field">
    <%= f.input :slug %>
  </div>
</div>

<div class="fields">
	<div class="seven wide field">
		<%= f.input :parent_id, as: :select, required: true, collection: nested_set_options(Mlblog::Category) {|i| "#{'-' * i.level} #{i.name}" }, 
								input_html: { class: 'ui fluid dropdown selection' } , :disabled => @category.child?
		%>
		<% if @category.child? %>
				<p>子カテゴリが存在するので変更できません</p>
		<% end %>
	</div>
</div>


<div class="inline fields">
	<div class="five wide field">
		<%= f.input :status, as: :radio_buttons, collection: statuses.invert %>
	</div>
</div>
