<script>
  jQuery(function($){
    $('[id$=_at]').datetimepicker({
      lang: 'ja',
      step: 10,
      format: 'Y-m-d H:i:00'
    });
  })
</script>


<div class="ui blue header">基本情報</div>

<%= f.error_notification %>

<div class="fields">

  <div class="wide sixteen field">
    <%= f.input :title %>
  </div>

</div>

<div class="fields">
  <div class="eight wide field">
    <%= f.input :url %>
  </div>
	
  <div class="six wide field">
    <%= f.input :opened_at, as: :string %>
  </div>
	
</div>


<div class="fields">
	<div class="five wide field">
		<%= f.input :category_id, as: :select, required: true, collection: nested_set_options(Mlblog::Category) {|i| "#{'-' * i.level} #{i.name}" }, input_html: { class: 'ui fluid dropdown selection' } %>
	</div>
</div>


<div class="field">
  <%= f.input :text, :as => :ckeditor, :label => '詳細', :input_html => { :ckeditor => { :height => 300 } } %>
</div>

<div class="inline fields">
	<div class="five wide field">
		<%= f.input :status, as: :radio_buttons, collection: statuses.invert %>
	</div>
</div>