<div class="ui blue header">基本情報</div>

<%= f.error_notification %>

<div class="fields">
  <div class="wide twelve field">
    <%= f.input :title %>
  </div>
  <div class="four wide field">
    <%= f.input :opened_at, as: :string %>
  </div>
	
  <div class="four wide field">
    <%#= f.input :closed_at, as: :string %>
  </div>
</div>

<div class="fields">
  <div class="eight wide field">
    <%= f.input :url %>
  </div>
</div>


<div class="field">
  <%= f.input :text, :as => :ckeditor, :label => '詳細', :input_html => { :ckeditor => { :height => 300 } } %>
</div>

<div class="inline fields">
  <%= f.input :status, as: :radio_buttons, collection: statuses.invert %>
</div>