


<h1>Listing articles</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Opened at</th>
      <th>Closed at</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.status %></td>
        <td><%= article.opened_at %></td>
        <td><%= article.closed_at %></td>
        <td><%= article.text %></td>
        <td><%= link_to raw('<i class="black large browser icon link icon"></i>'), article %></td>
        <td><%= link_to raw('<i class="green large edit icon link icon"></i>'), edit_article_path(article) %></td>
        <td><%= link_to raw('<i class="red large remove link icon"></i>'), article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
