<h1 class="ui header"><div class="content">お知らせ</div></h1>

<div class="ui breadcrumb">
  <div class="section"><%= link_to "お知らせ一覧", articles_path() %></div>
</div>

<% if @articles.present? %>

<table class="ui celled table">
    <thead>
      <tr>
				<th width="5%">ID</th>
        <th width="70%">タイトル</th>
        <th class="center aligned" width="10%">ステータス</th>
        <th class="center aligned" width="5%">詳細</th>
        <th class="center aligned" width="5%">編集</th>
        <th class="center aligned" width="5%">削除</th>
      </tr>
    </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
				<td>
					<div class="ui mini green label">
						<%= article.category.name %>
					</div>
					<p><%= article.title %></p>
				</td>
        <td class="center aligned">
          <%= status_label(article.status) %>
        </td>
        <td><%= link_to raw('<i class="black large browser icon link icon"></i>'), article %></td>
        <td><%= link_to raw('<i class="green large edit icon link icon"></i>'), edit_article_path(article) %></td>
        <td><%= link_to raw('<i class="red large remove link icon"></i>'), article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

  <div class="ui info message">
    お知らせは見つかりませんでした
  </div>

<% end %>