
<h1 class="ui header"><div class="content">お知らせ 新規作成</div></h1>

<div class="ui breadcrumb">
  <div class="section"><%= link_to "お知らせ一覧", articles_path() %></div>
  <i class="right chevron icon divider"></i>
  <div class="section active">お知らせ 新規作成</div>
</div>

<%= simple_form_for @article, url: articles_path() do |f| %>

  <div class="ui blue segment">
    <%= render partial: "form", locals: { f: f } %>
  </div>

  <%= link_to raw("<i class='ui arrow left icon'></i> 戻る"),  articles_path(), class: 'ui yellow button' %>
  <%= f.submit "登録する", class: 'ui yellow button' %>

<% end %>